@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Gilroy';
  src: url(assets/Gilroy-Black.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Gilroy', sans-serif;
}